body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo{
  text-align: center;
}

.titulo h2{
  margin-bottom: 0;
}
.titulo h3{
  margin-top: 0;
}

.header-div-center *{
  margin-top: auto;
  margin-bottom: auto;
}

.div-flex{
  display: flex;
}

.gap-2{
  gap: 5%;
}

.my-2{
  margin-top: 2%;
  margin-bottom: 2%;
}