body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo{
  font-weight: 700;
  text-align: center;
}

.titulo h2{
  margin-bottom: 0;
}
.titulo h3{
  margin-top: 0;
}

.header-div-center *{
  margin-top: auto;
  margin-bottom: auto;
}

.modal-default{
  width: 340px;
  padding: 3px;
  border: 1px solid #99a0a3;
  display: none;
  position: fixed;
  bottom: 30%;
  z-index: 15;
  left: 40%;
  background-color: white;
}

.modal-default-header{
  background-color: #BED6F8;
  color: #757A94;
  padding-inline: 2%;
  height: 35px;
}

.space-between{
  justify-content: space-between;
}

.modal-default-content{
  font-size: 0.9rem;
  height: 80px;
}

.btn-modal-default-close{
  color: #99a0a3;
  border: 1px solid #99a0a3;
  border-radius: 0;
  background-color: white;
}

.is-open{
  display: block !important;
}

.border-default{
  border: 1px solid #BFD6F8 !important;
}

.bg-light-blue-default{
  background-color: #ECF4FE;
}